*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* list-style: none; */
    border: none;
}
.medium-font
{
    font-size: 24px;
}
.btn
{
    border-radius: 8px;
    padding: 8px 14px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    background-color: rgb(222, 197, 220);
}
/* .paraghraph-color
{
    color: wh;
} */
header
{
    background-image: linear-gradient(to bottom,#ffc5ce,#f092a1 );
}
.nav-bar
{
    display: flex;
    justify-content: space-between;
    /* box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); */
    align-items: center;
    /* margin-bottom: 36px; */
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.nav-middle
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 50%;
/*     
    border: 2px solid red; */
}
.nav-middle a
{
    color: black;
}

.nav-middle a.active
{
    text-decoration: underline;
}
/* .nav-middle a:hover
{
    
    border-radius: 8px;
    padding: 2px 4px;
} */
.n-logo
{
    font-weight: 800;
    font-size: 36px;
}
.nav-logo
{
    color: rgb(71, 130, 142);
}
.banner
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* background-color: rgb(240, 202, 214); */
    /* height: 200px; */
    
}
.banner-content
{
    align-content: center;
    /* padding: 0 0px; */
    
}
.banner-img
{
    text-align: right;
    
    
}
.banner-content h1
{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 18px;
}
/* footer Css */
footer
{
    background-color: black;
}
.f-con
{
    
    color: white;
    text-align: start;
    padding: 40px 0px;
    display: flex;
    
    width: 700px;
    justify-content: space-between;
    margin: 0 auto;
}
.f-des
{
    width: 40%;
    align-items: start;
}
  .footer-links
  {
    width: 40%;
    margin: auto;
    justify-items: end;
  }  
/* footer>div
{
    
    
    border: 2px solid white;
    margin: 20px auto 20px auto;
    
} */
#footer-logo
{
    font-size: 40px;
    font-weight: bold;
}
.footer-shop
{
    
    color: rgb(212, 146, 157);


}
/* get deals css */
#get-deals
{
    text-align: center;
    background-image: url(../assets/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}
#get-deals> div
{
    padding: 20px 0px;
    margin: 40px 0px;
    text-align: center;
    

}

#get-deals> div>input
{
    /* border: 1px solid black; */
    border-radius: 8px;
    font-size: 20px;
    padding: 10px 20px;
    
}


#Subscribe-btn
{
    border-radius: 8px;
    background-color: #E55473;
    color: aliceblue;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    

}
.products
{
    /* /* align-items: center; */
    text-align: center; 
    
    /* border: 1px solid red; */
}
.cards
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
    gap: 30px;
    
}
#img1
{
    background-color: #d6adc1;
    border-radius: 50% 50% 0 0;
    padding-top: 20px;
    padding-bottom: 10px;
    
   
}
#img1 > div >img, #img2 > div >img, #img3 > div >img
{
    max-width: 50%;
}
#img2
{
    background-color: #91b7b9;
    border-radius: 50% 50% 0 0;
    padding-top: 20px;
    padding-bottom: 10px;
    
    
}
#img3
{
    background-color: #d0e3bc;
    border-radius: 50% 50% 0 0;
    padding-top: 20px;
    padding-bottom: 10px;
    
    
}
.cards > div >a
{
    
    font-weight: bold;
    font-size: 24px;
    color: black;
    
}
#heading
{
    max-width: 550px;
    width: 100%;
    /* border: 1px solid red; */
    margin: 40px auto ;
    
}

/* extra features css */
#extra-features
{
    display: flex;
    justify-content: space-around;
    margin: 60px auto;
    background-color: #f9dee2;
    border-radius: 8px;
    
}
.extra-card
{
    display: flex;
    flex-direction: column;
    text-align: center;
   
    width: 150px;
    padding: 10px;
    

   
    
}
.marginbody
{
    margin: 0 auto;
    max-width: 1300px;
}

.reviews
{
    text-align: center;
    background-color: rgb(244, 241, 238);
    border-radius: 8px;
    /* box-shadow: 10px 10px 15px rgba(193, 189, 189, 0.2); */
    padding: 18px;
    
}
.reviews> div
{
    padding-bottom: 12px;
}
.reviews> .rating> i
{
    color: rgb(214, 214, 140);
    
}
#review-content
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
    margin: 40px auto 40px auto;
}
.review-post
{
    text-align: center;
    /* border: 1px solid #91b7b9; */
    align-content: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 600px;
    margin: 24px auto 24px auto;
}
#review-textarea
{
    border: 1px solid #91b7b9;
    border-radius: 8px;
    width: 80%;
    text-align: center;
    padding: 8px;
    padding-bottom: 0px;
}
.post-btn
{
    /* border: 1px solid #91b7b9; */
    padding: 0px 24px 0px 24px;
    border-radius: 8px;
    font-weight: bold;
}
.product-box
{
    text-align: center;
}
.pro-price
{
    font-weight: bold;
    font-size: larger;
    color: rgb(51, 83, 108);
}
#pro-display
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    margin: 50px 0px 50px 0px;
    /* border: 2px solid black; */
}
.product-box
{
    /* border: 2px solid black; */
    padding: 20px;
}
.pro-content
{
    text-align: center;
    width: auto;
    margin-bottom: 10px;
}
.pro-content>p 
{
   
    margin-bottom: 5px;
}
.cart
{
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    color: rgb(55, 55, 118);
    margin-top: 5px;
}
.pro-img
{
    width: 300px;
    height: 400px;
    border-radius: 12px;
}
.member-img
{
    border-radius: 100%;
    width: 300px;
    height: 300px;
}
.members, .team-members
{
    text-align: center;
    margin: 50px 0px 50px 0px;
}
#mem-display
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.about-content
{
    margin: 50px 0px ;
    text-align: center;
}
.about-content >div>h1
{
    margin-bottom: 20px;
}
.contact-lastPart
{
    display: flex;
    justify-content: space-around;
    margin: 50px 0 100px 0;
}
#contact-form
{
    
    margin: 80px auto 20px auto;
    width: 80%;
}
#contactTextarea
{
    border-radius: 8px;
    border: 2px solid black;
    padding: 8px;
    margin-top: 16px;
}
.text-input
{
    width: 100%;
    border-radius: 4px;
    padding: 12px;
    background-color: antiquewhite;
    margin-top: 8px;
    
}
.contact-container 
{
    max-width: 700px; 
    width: 100%;
    margin: 24px auto 0 auto;
    display: flex;
    gap: 13px;

}

#contactTextarea,.contact-btn 
{
    width: 100%; 
    padding: 8px; 
    
    font-size: 1em;
}

.contact-btn {
    margin-top: 12px; 
    cursor: pointer;
    border-radius: 8px;
    width: 20%;
}
.pro-rating
{
    color: rgb(226, 226, 156);
}
.nav-bar,.banner, .products, #extra-features, #get-deals
{
    margin: 0px auto 20px auto;
}
.footer-links>ul>li>a
{
    color: white;
    font-size: 18px;
    align-items: start;
    justify-items: center;
}
hr
{
    border-top: 2px solid white;
    width: 1400px;
    margin: auto;
}
.copyrights
{
    text-align: center;
    color: white;
    width: auto;
    padding: 20px auto 20px auto;
}
#bar
{
    display: none;
}
